.reg-constraint {
  margin: 0;
  font-size: 0.9rem;
}

.reg-constraint ul {
  padding-left: 1rem;
}

.password-with-constraints {
  display: flex;
  gap: 2rem;
}

.password-with-constraints .focus-box {
  display: none;
}

.password-with-constraints:focus-within .focus-box {
  display: block;
  height: 0;
  width: 30rem;
}

.field-with-errors {
  display: inline;
}
