.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  display: block;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form .field {
  display: flex;
  flex-direction: column;
}

.form input, textarea {
  padding: 0.1rem;
  outline: none;
}

.form input {
  height: 2.2rem;
}
